<template>
  <div>
    <section class="section">
      <div class="container">
        <div id="nav">
          <router-link to="/add">
            <i class="far fa-plus-square">Adicionar</i>
          </router-link>
        </div>
        <h1 class="title">Cadastrar Cliente</h1>
        <h2 class="subtitle">Utilize este formulário para cadastrar um novo cliente</h2>
        <b-field label="Nome:">
          <b-input v-model="cliente.name"></b-input>
        </b-field>
        <b-field label="E-mail:">
          <b-input v-model="cliente.email"></b-input>
        </b-field>
        <b-field v-if="!edit" label="Criado em:">
          <b-input v-model="cliente.created_at"></b-input>
        </b-field>
        <b-button @click="add">Cadastrar</b-button>
      </div>
    </section>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "add",
  data() {
    return {
      edit: true,
      cliente: {
        id: null,
        name: null,
        email: null,
        created_at: null
      }
    };
  },
  methods: {
    add() {
      axios.post("/clientes", this.cliente).then( response => {
        if (response.id != '') {
            this.$toast.open({
                message: 'Cliente cadastrado com sucesso',
                type: 'is-success'
            })
            this.$router.push({name: 'clientes_view'});
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
</style>