<template>
  <div>
    <section class="section">
      <div class="container">
        <h1 class="title">Edição de cliente</h1>
        <h2 class="subtitle">Utilize este formulário para alterar um cliente</h2>
        <b-field label="Nome:">
          <b-input v-model="cliente.name"></b-input>
        </b-field>
        <b-field label="E-mail:">
          <b-input v-model="cliente.email"></b-input>
        </b-field>
        <b-field label="Criado em:">
          <b-input v-model="cliente.created_at"></b-input>
        </b-field>
        <b-button @click="edit">Alterar</b-button>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <h1 class="title">Arquivos associados</h1>
        <div data-v-1255a4aa class="b-table">
          <!---->
          <div class="table-wrapper">
            <table class="table has-mobile-cards">
              <thead>
                <tr>
                  <!---->
                  <!---->
                  <th class style="width: 40px;">
                    <div class="th-wrap is-numeric">
                      ID
                      <span class="icon is-small" style="display: none;">
                        <i class="mdi mdi-arrow-up"></i>
                      </span>
                    </div>
                  </th>
                  <th class>
                    <div class="th-wrap">
                      Descrição
                      <span class="icon is-small" style="display: none;">
                        <i class="mdi mdi-arrow-up"></i>
                      </span>
                    </div>
                  </th>
                  <th class>
                    <div class="th-wrap">
                      Arquivo
                      <span class="icon is-small" style="display: none;">
                        <i class="mdi mdi-arrow-up"></i>
                      </span>
                    </div>
                  </th>
                  <th class>
                    <div class="th-wrap is-centered">
                      Criado em
                      <span class="icon is-small" style="display: none;">
                        <i class="mdi mdi-arrow-up"></i>
                      </span>
                    </div>
                  </th>
                  <th class>
                    <div class="th-wrap is-centered">
                      Ações
                      <span class="icon is-small" style="display: none;">
                        <i class="mdi mdi-arrow-up"></i>
                      </span>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  draggable="false"
                  class
                  v-for="(upload,index) in uploads"
                  :key="'upload-'+index"
                >
                  <!---->
                  <!---->
                  <td data-label="ID" class="has-text-right">
                    <span>{{ upload.id }}</span>
                  </td>
                  <td data-label="Nome Completo" class>
                    <span>{{ upload.description }}</span>
                  </td>
                  <td data-label="E-mail" class>
                    <span><a :href="'/uploads/'+upload.file" target="_blank">{{ upload.file }}</a></span>
                  </td>
                  <td data-label="Criado em" class="has-text-centered">
                    <span>{{ upload.created_at }}</span>
                  </td>
                  <td data-label="Ações" class="has-text-centered">
                    <span>
                      <i
                        class="far fa-trash-alt"
                        @click="erase(upload.id)"
                        title="Remover"
                        style="cursor:pointer;"
                      ></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <h1 class="title">Cadastro de arquivos</h1>
        <h2 class="subtitle">Utilize este formulário para adicionar novos arquivos</h2>
        <b-field label="Descrição:">
          <b-input v-model="upload.description"></b-input>
        </b-field>
        <b-field label="Arquivo:">
          <b-input v-model="upload.file" type="file" id="file"></b-input>
        </b-field>
        <b-button @click="add_file">Cadastrar</b-button>
      </div>
    </section>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "clientes_edit",
  props: {
    id: {
      type: String
    }
  },
  mounted() {
    axios.get("/clientes/" + this.id).then(res => {
      this.cliente = res.data;
    });
    axios.get("/arquivos/" + this.id).then(res => {
      this.uploads = res.data;
    });
  },
  data() {
    return {
      cliente: {
        id: null,
        name: null,
        email: null,
        created_at: null
      },
      upload: {
        id: null,
        description: null,
        file: null,
        created_at: null
      },
      uploads: []
    };
  },
  methods: {
    edit() {
      axios
        .put("/clientes/" + this.cliente.id, this.cliente)
        .then( () => {
          this.$toast.open({
            message: "Cliente alterado com sucesso",
            type: "is-success"
          });
        });
    },
    erase(upload_id) {
      axios.delete("/arquivos/" + upload_id).then(response => {
        if (response.id != "") {
          var index = this.uploads.findIndex(upload => upload.id === upload_id);
          this.uploads.splice(index, 1);
          this.$toast.open({
            message: "Arquivo removido com sucesso",
            type: "is-success"
          });
        }
      });
    },
    add_file() {
        let file = document.getElementById("file").files[0];
        let data = new FormData();
        data.append('file', file);
        data.append('description', this.upload.description);
        data.append('cliente_id', this.id);
        axios.post('/arquivos', data, { headers: { 'content-type': 'multipart/form-data' } }).then( res => {
            this.uploads.push( res.data );
          this.$toast.open({
            message: "Arquivo adicionado com sucesso",
            type: "is-success"
          });
        })
    }
  }
};
</script>

<style lang="scss" scoped>
</style>