<template>
  <div class="View">
    <section class="section">
      <div class="container">
        <h1 class="title">Listagem de clientes</h1>
        <div id="nav">
          <router-link to="/add">
            <i class="far fa-plus-square" style="margin-right: 5px;"></i>Adicionar
          </router-link>
        </div>
        <div data-v-1255a4aa class="b-table">
          <!---->
          <div class="table-wrapper">
            <table class="table has-mobile-cards">
              <thead>
                <tr>
                  <!---->
                  <!---->
                  <th class style="width: 40px;">
                    <div class="th-wrap is-numeric">
                      ID
                      <span class="icon is-small" style="display: none;">
                        <i class="mdi mdi-arrow-up"></i>
                      </span>
                    </div>
                  </th>
                  <th class>
                    <div class="th-wrap">
                      Nome Completo
                      <span class="icon is-small" style="display: none;">
                        <i class="mdi mdi-arrow-up"></i>
                      </span>
                    </div>
                  </th>
                  <th class>
                    <div class="th-wrap">
                      E-mail
                      <span class="icon is-small" style="display: none;">
                        <i class="mdi mdi-arrow-up"></i>
                      </span>
                    </div>
                  </th>
                  <th class>
                    <div class="th-wrap is-centered">
                      Criado em
                      <span class="icon is-small" style="display: none;">
                        <i class="mdi mdi-arrow-up"></i>
                      </span>
                    </div>
                  </th>
                  <th class>
                    <div class="th-wrap is-centered">
                      Ações
                      <span class="icon is-small" style="display: none;">
                        <i class="mdi mdi-arrow-up"></i>
                      </span>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr draggable="false" class v-for="(cliente,index) in clientes" :key="'cliente-'+index">
                  <!---->
                  <!---->
                  <td data-label="ID" class="has-text-right">
                    <span>{{ cliente.id }}</span>
                  </td>
                  <td data-label="Nome Completo" class>
                    <span>{{ cliente.name }}</span>
                  </td>
                  <td data-label="E-mail" class>
                    <span>{{ cliente.email }}</span>
                  </td>
                  <td data-label="Criado em" class="has-text-centered">
                    <span>{{ cliente.created_at }}</span>
                  </td>
                  <td data-label="Ações" class="has-text-centered">
                    <span>
                        <i class="fas fa-edit" @click="edit(cliente)" title="Editar" style="cursor:pointer; margin-right: 5px;"></i> 
                        <i class="far fa-trash-alt" @click="erase(cliente.id)" title="Remover" style="cursor:pointer;"></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "view",
  mounted() {
    axios.get("/clientes").then(res => {
      this.clientes = res.data.data;
    });
  },
  data() {
    return {
      clientes: [
        {
          id: 1,
          name: "Jesse",
          email: "Simmons",
          created_at: "2016-10-15 13:43:27"
        }
      ],
      columns: [
        {
          field: "id",
          label: "ID",
          width: "40",
          numeric: true
        },
        {
          field: "name",
          label: "Nome Completo"
        },
        {
          field: "email",
          label: "E-mail"
        },
        {
          field: "created_at",
          label: "Criado em",
          centered: true
        },
        {
          field: "actions",
          label: "Ações",
          centered: true
        }
      ]
    };
  },
  methods: {
    edit(cliente) { this.$router.push({ name:'clientes_edit', params: { id: cliente.id } }); },
    erase(cliente_id) { 
      axios.delete("/clientes/"+cliente_id).then( response => {
        if (response.id != '') {
            var index = this.clientes.findIndex(cliente => cliente.id === cliente_id);
            this.clientes.splice(index, 1);
            this.$toast.open({
                message: 'Cliente removido com sucesso',
                type: 'is-success'
            });
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
</style>