#app{text-align:center;color:#2c3e50;margin-top:60px}#app,#nav{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}#nav{text-align:left;font-size:32px}